@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Muli';
    background-color: #824cc6;
}
.container {
    margin-top: 50px;
    background-color: #333333;
    color: aliceblue;
    max-width: 50vw;
    width: 100%;
    text-align: center;
    border-radius: 10px;

}

.list {
    background-color: white;
    display: flex;
    color: #7f8090;
    align-items: center;
    width: 40vw;
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 0px black;
    margin-top: 30px;
    
}
.delete-btn {
    display: flex;
    background: linear-gradient(to left, #EB274B, #FF842B, #EB274B);
    animation: colors 25s ease infinite;
    border: 1px solid black;
    color: aliceblue;
    font-family: 'Muli';
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: transform, border-radius 0.5s;
}
.delete-btn:hover {
    transform: scale(0.9);
    border-radius: 50%;
}
.checkbox {
    margin-left: 20px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: transform 0.5s;
    color: #49a52c;
}
.checkbox:hover {
    transform: scale(0.95);
}
.checkbox:active {
    background-color: green;
}
.create-btn {
    margin-top: 30px;
    width: 40vw;
    padding: 10px;
    border: none;
    color: aliceblue;
    background: linear-gradient(to left, #FF842B, #EB274B, #FF842B);
    animation: colors 25s ease infinite;
    border-radius: 5px;
    cursor: pointer;
   
}
.input-task {
    background-color: ;
    border: none;
    width: 40vw;
    outline: none;
    font-family: 'Muli';
}
.input-task-done {
    text-decoration: line-through;
    color: #49a52c;
    font-style: italic;
}


@keyframes colors {  
    0% {
        background-position: 0px;
    } 50% {
        background-position: 40px;
    } 100% {
        background-position: 0px;
    }
}
